.navBar{
    height: 80px;
    width: 100%;
    margin: auto;
}
form .form-group{
    padding: 5px;
    margin: 3px 0;
    display: flex;
}
form button{
    float: right;
    padding: 3px;
    margin: 0 5px;
}
form label{
    margin-right: 5px;
}
form input{
    margin-right: 20px;
}
footer{
    bottom: 0;
    position: absolute;
}
